# Ignore virtual environments
mock-backend/venv/

# Python cache files
*.pyc
__pycache__/

# Environment variables
.env

# IDE/editor directories
.vscode/
.idea/

node_modules/
*.log

build/
dist/
*.egg-info/

pip-log.txt
pip-delete-this-directory.txt

build/

coverage/

.cache/

.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store

# Windows
Thumbs.db

